<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.sliew.http.stream.dao.mapper.job.JobInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.sliew.http.stream.dao.entity.job.JobInfo">
        <result column="id" property="id" />
        <result column="group_id" property="groupId" />
        <result column="job" property="job" />
        <result column="sub_job" property="subJob" />
        <result column="creator" property="creator" />
        <result column="modifier" property="modifier" />
        <result column="deleter" property="deleter" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
        <result column="gmt_delete" property="gmtDelete" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        group_id, job, sub_job,
        creator, modifier, deleter, gmt_create, gmt_modified, gmt_delete
    </sql>

</mapper>
